<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link href="../static/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{css/bootstrap.min.css}" />


</head>
<body>
	<!--/*  Multiple fragments may be defined in one file */-->
	<div th:fragment="navigation">
		<nav class="navbar-default navbar-static-side" role="navigation">
			<div class="sidebar-collapse">
				<ul class="nav" id="side-menu">
					<li class="nav-header">
						<div class="dropdown profile-element">
							<span> </span> <a data-toggle="dropdown" class="dropdown-toggle"
								href="#"> <span class="clear"> <span
									class="block m-t-xs"> <strong class="font-bold">POS
											Web</strong>
								</span> <span class="text-muted text-xs block">Administrador<b
										class="caret"></b></span>
							</span>
							</a>
							<ul class="dropdown-menu animated fadeInRight m-t-xs">
								<li class="divider"></li>
								<li><a href="#" th:href="@{/signup}">Cerrar sesión</a></li>
							</ul>
						</div>
						<div class="logo-element">IN+</div>
					</li>
							<li th:class="${(controllerName eq 'DocumentsController') and (controllerAction eq 'index')} ? 'active'">
								<a href="#" th:href="@{/documents/index}" ><i class="fa fa-print"></i> <span class="nav-label" th:text="#{navigation.menu.docventa}">Titulo1</span></a>
							</li>
							<li th:class="${(controllerName eq 'ProductsController') and (controllerAction eq 'index')} ? 'active'">
								<a><i class="fa fa-archive"></i> <span class="nav-label"  th:text="#{navigation.menu.productos}">Titulo1</span><span class="fa arrow"></span></a>
								<ul class="nav nav-second-level collapse">
									<li><a href="#" th:href="@{/products/product}" th:text="#{navigation.menu.productos.producto}">Titulo1</a></li>
									<li><a href="#" th:href="@{/products/brand}" th:text="#{navigation.menu.productos.marca}">Titulo1</a></li>
									<li><a href="#" th:href="@{/products/category}" th:text="#{navigation.menu.productos.categoria}">Titulo1</a></li>
									<li><a href="#" th:href="@{/products/color}" th:text="#{navigation.menu.productos.color}">Titulo1</a></li>
									<li><a href="#" th:href="@{/products/size}" th:text="#{navigation.menu.productos.talla}">Titulo1</a></li>
									<li><a href="#" th:href="@{/products/listprice}" th:text="#{navigation.menu.productos.listraprecios}">Titulo1</a></li>
									<li><a href="#" th:href="@{/products/promotions}" th:text="#{navigation.menu.productos.promociones}">Titulo1</a></li>
								</ul>
							</li>
							<li th:class="${(controllerName eq 'InventoryController') and (controllerAction eq 'index')} ? 'active'">
								<a><i class="fa fa-stack-overflow"></i> <span class="nav-label" th:text="#{navigation.menu.inventarios}">Titulo1</span><span class="fa arrow"></span></a>
								<ul class="nav nav-second-level collapse">
									<li><a href="#" th:href="@{/inventory/stock}" th:text="#{navigation.menu.inventarios.stock}">Titulo1</a></li>
									<li><a href="#" th:href="@{/inventory/transfer}" th:text="#{navigation.menu.inventarios.transferencias}">Titulo1</a></li>
								</ul>
							</li>
							<li th:class="${(controllerName eq 'ClientsController') and (controllerAction eq 'index')} ? 'active'">
								<a href="#" th:href="@{/clients/index}" ><i class="fa fa-child"></i> <span class="nav-label" th:text="#{navigation.menu.clientes}">Titulo1</span></a>
							</li>
							<li th:class="${(controllerName eq 'EmployeeController') and (controllerAction eq 'index')} ? 'active'">
								<a href="#" th:href="@{/employee/index}"><i class="fa fa-user"></i> <span class="nav-label" th:text="#{navigation.menu.empleados}">Titulo1</span></a>
							</li>
							<li th:class="${(controllerName eq 'StoreController') and (controllerAction eq 'index')} ? 'active'">
								<a href="#" th:href="@{/store/index}"><i class="fa fa-bank (alias)"></i> <span class="nav-label" th:text="#{navigation.menu.tiendas}">Titulo1</span></a>
							</li>
							<li th:class="${(controllerName eq 'ReportsController') and (controllerAction eq 'index')} ? 'active'">
								<a href="#" th:href="@{/reports/index}"><i class="fa fa-line-chart"></i> <span class="nav-label" th:text="#{navigation.menu.reportes}">Titulo1</span></a>
							</li>
							<li th:class="${(controllerName eq 'ConfigurationController') and (controllerAction eq 'index')} ? 'active'">
								<a href="#" th:href="@{/configuration/index}"><i class="fa fa-gears (alias)"></i> <span class="nav-label" th:text="#{navigation.menu.configuracion}">Titulo1</span><span class="fa arrow"></span></a>
								<ul class="nav nav-second-level collapse">
									<li><a href="#" th:href="@{/configuration/exchangerate}" th:text="#{navigation.menu.configuracion.tipocambio}">Titulo1</a></li>
									<li><a href="#" th:href="@{/configuration/taxes}" th:text="#{navigation.menu.configuracion.impuestos}">Titulo1</a></li>
								</ul>
							</li>
</ul>
			</div>
		</nav>
	</div>
</body>
</html>

